<div class="container">
  <nav class="navbar navbar-light navbar-expand-lg navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#"><%= image_tag "logo.jpg", alt: "alttext", class:"navbar-brand" %></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
         <h2><a class="nav-link px-5" href="#whatweoffer">Notre espace</a></h2>
        </li>
        <li class="nav-item">
          <h2><a class="nav-link" href="#contact">Réservez</a></h2>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="banner">
  <div class="backdrop">
    <div class="target a"></div>
      <div><h1 class="pop">POP</h1></div>
    <div class="target b"></div>
      <div><h1 class="up">UP</h1></div>
    <a onclick="smoothScroll(document.getElementById('aboutus'))" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon="" id="scroll"></a>
  </div>
    <div id="aboutus"></div>
</div>

<div class="container">
  <div class="row flex-md-row mt-5">
    <div class="content col-md-6">
      <h1>A PROPOS</h1>
      <p class="about">
        L&#39;espace Zookeeper situé dans le Nord Marais,au <strong>59 rue Notre-Dame de Nazareth</strong>, bénéficie
        d’une excellente localisation dans une rue passante et piétonnisée le week-end.
      </p>
      <p>La boutique de <strong>39m2</strong> s&#39;étend derrière une large vitrine de 5m2 linéaires donnant directement sur la
        rue accordant ainsi une très belle visibilité à vos événements.
      </p>
      <p>L’espace comprend une réserve qui peut également servir de dressing ou de lieu d’exposition supplémentaire.
        Murs et poutres au plafond peints en blanc, sol en bois gris, éclairage au néon, ce lieu allie charme et modernité.
      </p>
      <p>Boutique desservie par les stations Temple (ligne 3), République (lignes 3, 5, 8, 9, 11) Arts et Métiers (lignes 3,
         11) et Strasbourg Saint-Denis (lignes 4, 8, 9).</p>
    </div>

    <div class="content col-md-6">
      <div id="map">
        <script>
          function initMap() {
            const boutique = {lat: 48.867720, lng: 2.356060};
            const map = new google.maps.Map(
                document.getElementById('map'), {zoom: 13, center: boutique});
            const marker = new google.maps.Marker({position: boutique, map: map});
          }
        </script>
      </div>
    </div>
  </div>
  <div id="whatweoffer"></div>
  <div class="row flex-md-row spacer">
    <div class="col-md-6 photos">
      <a href="#img-1"> <%= image_tag  "ZooKeeper (1).JPG", alt: "alttext", class:"col-md-12 col-sm-12 col-lg-6" %></a>
        <a href="#_" class="overlay" id="img-1">
          <%= image_tag  "ZooKeeper (1).JPG", class:"mx-auto" %>
        </a>

      <a href="#img-2"> <%= image_tag "ZooKeeper (2).JPG", alt: "alttext", class:"col-md-6 col-sm-12" %></a>
        <a href="#_" class="overlay" id="img-2">
          <%= image_tag  "ZooKeeper (2).JPG", class:"mx-auto" %>
        </a>

      <a href="#img-3"> <%= image_tag "ZooKeeper (3).jpg", alt: "alttext", class:"col-md-6 col-sm-12 mt-2" %></a>
        <a href="#_" class="overlay" id="img-3">
          <%= image_tag  "ZooKeeper (3).jpg", class:"mx-auto" %>
        </a>


      <a href="#img-4"><%= image_tag "ZooKeeper (4).JPG", alt: "alttext", class:"col-md-12 col-sm-12 col-lg-6 mt-2" %></a>
        <a href="#_" class="overlay" id="img-4">
          <%= image_tag  "ZooKeeper (4).JPG", class:"mx-auto" %>
        </a>
    </div>

    <div class="content col-md-6">
      <h1>LA BOUTIQUE</h1>
        <h2>ACCOMPAGNEMENT</h2>
        <div class="card-text accompagnement">
          <p>Elizabeth Relin, professionnelle de la mode vous accompagne dans la réalisation de votre
              projet, vous conseille et vous guide selon vos besoins.
          </p>
          <p>L’équipe Zookeeper vous propose des services optionnels sur devis :</p>
          <ul class="row flex-row">
            <div class="col-6">
              <li>Catering</li>
              <li>Photographe</li>
              <li>Personnel d’accueil</li>
            </div>
            <div class="col-6">
              <li>Personnel de sécurité</li>
              <li>DJ</li>
              <li>Location de mobilier</li>
            </div>
          </ul>
        </div>
    </div>

    <div class="row flex-md-row">
      <div class="content col-md-6 px-5">
        <h2>ÉQUIPEMENT</h2>
        <div class="card-text accompagnement">
          <p> Zookeeper met à votre disposition une large boutique de 35m²
              avec une belle vitrine vous donnant une belle visibilité.
          </p>
          <ul>
            <li>Une réserve pouvant également servir de dressing</li>
            <li>Un point d’eau et wc</li>
            <li>Le Wifi</li>
          </ul>
            <p>Des meubles en bois clair modulables vous permettent de créer des présentoirs, de ranger vos
                produits...</p>
          <p> Vous avez également à votre disposition des portants ainsi qu’une petite table carrée avec 4
              tabourets assortis, un réfrigérateur, un fer à repasser, une bouilloire.</p>
        </div>
      </div>

      <div class="col-md-6">

         <a href="#img-5"><%= image_tag "Zookeeper space (17).JPG", alt: "alttext", class:"col-md-12 col-sm-12 col-lg-6" %></a>
        <a href="#_" class="overlay" id="img-5">
          <%= image_tag  "Zookeeper space (17).JPG", class:"mx-auto" %>
        </a>

        <a href="#img-6"><%= image_tag "Zookeeper space (1).JPG", alt: "alttext", class:"col-md-12 col-sm-12 col-lg-6" %></a>
        <a href="#_" class="overlay" id="img-6">
          <%= image_tag  "Zookeeper space (1).JPG", class:"mx-auto" %>
        </a>

      </div>
    </div>
  </div>


    <div class="row .flex-md-column justify-content-md-space-between" id="tarifs">
      <div class="content col-md-3 flex-grow col-sm-12 col-lg-3" >
        <div class="tarifs-align">
        <h1><div></div>TARIFS</h1>
        <button class="btn btn-light nav-link"><a href="#contact"><h2>DEMANDEZ UN DEVIS</h2></a></button>
      </div>
      </div>
        <div class="card-price col-lg-3 flex-grow col-sm-3">
          <h2>JOURNÉE</h2>
          <div class="text-center">
            <p>à partir de</p>
            <h1>275 €</h1>
          </div>
        </div>

      <div class="card-price col-lg-3 flex-grow col-sm-3">
        <h2>SEMAINE</h2>
        <div class="text-center">
          <p>à partir de</p>
          <h1>1595 €</h1>
        </div>
      </div>

      <div class="card-price col-lg-3 flex-grow col-sm-3">
        <h2>MOIS</h2>
        <div class="text-center">
          <p>à partir de</p>
          <h1>4000 €</h1>
        </div>
      </div>
    </div>
<div id="contact"></div>

  <div class="content spacer">
    <div class="row flex-md-row-reverse">
      <div class="col-md-6 col-sm-12 text-right">
        <h1 class="text-right">CONTACT</h1>
        <p>Vous souhaitez réaliser une visite ? Des informations sur nos disponibilités ?</p>
        <p>Appelez-nous : <strong>06 23 08 68 55</strong></p>
        <div class="flex-lg-row">
          <p>Rendez-nous visite : <strong>59 rue Notre-Dame de Nazareth</strong></p>
          <p class="push-left"><strong> 75003, Paris</strong></p>
          <p>Écrivez-nous: <strong>elizabethzookeeper@gmail.com</strong></p>
        </div>
        <p class="links">Suivez-nous :
          <a href="https://fr-fr.facebook.com/Zookeeperpopup"><i class="fa fa-facebook-square icon"></i></a>
          <a href="https://www.linkedin.com/in/elizabeth-relin-502a7b48/"><i class="fa fa-linkedin-square icon"></i></a>
          <!-- <a href="https://www.pinterest.fr/boutique0543/"><i class="fa fa-pinterest-square icon"></i></a> -->
          <a href="https://www.instagram.com/wowoparis/?hl=fr"><i class="fa fa-instagram icon"></i></a>
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= render 'contact_form' %>
      </div>
    </div>
  </div>
  <div class="content" id="equipe">
    <div class="d-flex row">
      <div class="img-team text-center pb-3">
        <%= image_tag "self-portrait.jpg", alt: "alttext", class:"avatar-large my-auto" %>
      </div>
      <div class="desc-team text-center">
        <h2>Elizabeth Relin</h2>
        <p> Elizabeth Relin est la fondatrice de Zookeeper mais aussi  créatrice de la marque de vêtements WOWO.
            Elle est dingue de folk Art américain et surtout elle adore les idées nouvelles, la mode et vous
            accompagnera dans votre projet.</p>
        <ul class="links text-center">
          <li><a href="https://fr-fr.facebook.com/Zookeeperpopup"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/in/elizabeth-relin-502a7b48/"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="https://www.pinterest.fr/boutique0543/"><i class="fa fa-pinterest-square"></i></a></li>
          <li><a href="https://www.instagram.com/wowoparis/?hl=fr"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- <div class="d-flex flex-row col-md-12 col-sm-12 col-lg-6 justify-content-md-space-between team" id="member2">
        <div class="img-team my-auto">
          <%= image_tag "Spiked-Aurora.jpg", alt: "alttext", class:"avatar-large my-auto" %>
        </div>
        <div class="desc-team">
          <h3>Elizabeth Relin</h3>
          <p>Elizabeth Relin est la fondatrice de Zookeeper mais aussi  créatrice de la marque de vêtements WOWO. Elle est dingue de folk Art américain et surtout elle adore les idées nouvelles, la mode et vous accompagnera dans votre projet.</p>
        </div>
       </div> -->
    </div>
  </div>
</div>
  <footer>
      <p>All rights reserved to Zookeeper</p>
      <p>Web design & development by Mateo Blanc</p>
  </footer>

<script defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap">
</script>
